# 모니터링 4xx대 무시, 500에러만 에러로 잡도록 함(콘솔 색상이 빨개진다)
option_settings:
  - namespace: aws:elasticbeanstalk:healthreporting:system
    option_name: ConfigDocument
    value: {
      "Rules": {
        "Environment": {
          "Application": {
            "ApplicationRequests4xx": {
              "Enabled": false
            }
          }
        }
      },
      "Version": 1
    }